body {
    padding: 0;
    background-color: #515D69;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
}
.nav-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: white;
    gap: 490px;
}
.buttons {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;
    position: relative;
    right: 20px;
    bottom: 10px;
    background-color: #515D69;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.buttons button{
    background-color: #515D69;
    color: white;
    border: none;
    font-size: 20px;
}
.nav-bar img {
    height: 100px;
    width: 150px;
}
.nav-bar2 img {
    height: 100px;
    width: 150px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.ener {
    position: relative;
    left: 40px;
}

.vision {
    position: relative;
    right: 35px;
}

.name-usuario {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 200px;
}

.imagem img{
height: 150px;
width: 1550px;
}


.diario-mensal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    font-family: Arial, Helvetica, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50ch;
    
}

.consumo-diario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    height: 350px;
    max-width: 350px;
    box-shadow: 10px 10px 40px black;
    transition: all 0.3s ease;
    
}
.consumo-diario:hover{
transform: scale(1.05);
}
.consumo-diario img {
    height: 200px;
    width: 200px;
}
.consumo-mensal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    height: 350px;
    max-width: 350px;
    box-shadow: 10px 10px 40px ;
    transition: all 0.3s ease;
}
.consumo-mensal:hover {
    transform: scale(1.05);
}
.consumo-mensal img {
    height: 200px;
    width: 200px;
}
a{
    text-decoration: none;
    color: black;
}

/* form_dispositivo */

.Consumo-diario2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 10px 10px 40px ;
    padding: 10px;
    height: 500px;
    width: 250px;
    max-width: 350px;
}

.Consumo-diario2 input, option {
    background-color: rgba(128, 128, 128, 0.5);
    border: none;
    border-radius: 8px;
    color: #828282;
    height: 30px;
}

.Consumo-diario2 form, select {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #828282;
    
}

.container {
    display: flex;
    gap: 200px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}